Repository alexanderlopez/capstone_project, pull requests merged in 2020-08, with the labels that each got.

#14 Info Window Customization
  src/main/webapp/ChapMap.js
  src/main/webapp/MarkerInfoWindow.js
  src/main/webapp/PermMarker.js
  src/main/webapp/TempMarker.js
  src/main/webapp/icons/delete.png
  src/main/webapp/icons/edit.png
  src/main/webapp/mapStyle.css
Labels: map

#15 Marker-adding Mode
  src/main/webapp/ChapMap.js
  src/main/webapp/TempMarker.js
  src/main/webapp/icons/pointer.png
  src/main/webapp/mapStyle.css
Labels: map

#17 Restructure Map, Marker, and infoWindow objects
  src/main/webapp/ChapMap.js
  src/main/webapp/InfoWindowTemplate.js
  src/main/webapp/MarkerInfoWindow.js
  src/main/webapp/MarkerTemplate.js
  src/main/webapp/PermInfoWindow.js
  src/main/webapp/PermMarker.js
  src/main/webapp/TempInfoWindow.js
  src/main/webapp/TempMarker.js
  src/main/webapp/chatroom.html
Labels: map

#22 Welcome page and chatroom design
  src/main/webapp/ChapMap.js
  src/main/webapp/authentication.js
  src/main/webapp/chatStyle.css
  src/main/webapp/index.jsp
  src/main/webapp/main.js
  src/main/webapp/mapSelection.html
  src/main/webapp/mapStyle.css
  src/main/webapp/welcomeStyle.css
Labels: general

#23 Integrate chatroom with server
  index.yaml
  pom.xml
  src/main/appengine/app.yaml
  src/main/java/com/google/sps/CapstoneAuth.java
  src/main/java/com/google/sps/ChatWebSocket.java
  src/main/java/com/google/sps/DatastoreManager.java
  src/main/java/com/google/sps/HelloAppEngine.java
  src/main/java/com/google/sps/WebSocketHandler.java
  src/main/java/com/google/sps/servlets/ChatHistory.java
  src/main/java/com/google/sps/servlets/MarkerHistory.java
  src/main/java/com/google/sps/servlets/RoomServlet.java
  src/main/java/com/google/sps/servlets/ShareServlet.java
  src/main/java/com/google/sps/servlets/UserServlet.java
  src/main/webapp/ChapMap.js
  src/main/webapp/InfoWindowTemplate.js
  src/main/webapp/MarkerTemplate.js
  src/main/webapp/PermMarker.js
  src/main/webapp/TempInfoWindow.js
  src/main/webapp/TempMarker.js
  src/main/webapp/authentication.js
  src/main/webapp/chat.js
  src/main/webapp/chatStyle.css
  src/main/webapp/chatroom.html
  src/main/webapp/index.jsp
  src/main/webapp/main.js
  src/main/webapp/mapSelection.css
  src/main/webapp/mapSelection.html
  src/main/webapp/mapSelection.js
  src/main/webapp/mapStyle.css
  src/main/webapp/welcome.js
  src/main/webapp/welcomeStyle.css
  src/test/java/com/google/sps/HelloAppEngineTest.java
Labels: general

#24 Map Sharing Front-End
  src/main/webapp/ChapMap.js
  src/main/webapp/chat.js
  src/main/webapp/chatroom.html
  src/main/webapp/icons/share.png
  src/main/webapp/mapStyle.css
  src/main/webapp/welcome.js
Labels: map

#29 Small Map Improvements
  .gitignore
  src/main/webapp/ChapMap.js
  src/main/webapp/InfoWindowTemplate.js
  src/main/webapp/PermInfoWindow.js
  src/main/webapp/PermMarker.js
  src/main/webapp/TempInfoWindow.js
  src/main/webapp/chatroom.html
  src/main/webapp/icons/addMarker.svg
  src/main/webapp/icons/chat.svg
  src/main/webapp/icons/delete.png
  src/main/webapp/icons/edit.png
  src/main/webapp/icons/home.svg
  src/main/webapp/icons/share.png
  src/main/webapp/icons/share.svg
  src/main/webapp/mapStyle.css
  src/main/webapp/welcome.js
Labels: map

#33 Change marker colors
  src/main/java/com/google/sps/ChatWebSocket.java
  src/main/java/com/google/sps/DatastoreManager.java
  src/main/java/com/google/sps/servlets/ChatHistory.java
  src/main/java/com/google/sps/servlets/MarkerHistory.java
  src/main/webapp/ChapMap.js
  src/main/webapp/ColorPicker.js
  src/main/webapp/InfoWindowTemplate.js
  src/main/webapp/MarkerTemplate.js
  src/main/webapp/PermInfoWindow.js
  src/main/webapp/PermMarker.js
  src/main/webapp/TempInfoWindow.js
  src/main/webapp/TempMarker.js
  src/main/webapp/chatroom.html
  src/main/webapp/mapStyle.css
Labels: map

#36 Add Markers Via Chat
  src/main/webapp/chat.js
Labels: enhancement

#37 Multiple chat threads
  src/main/webapp/Thread.js
  src/main/webapp/chat.js
  src/main/webapp/chatStyle.css
  src/main/webapp/chatroom.html
  src/main/webapp/icons/clear.svg
  src/main/webapp/icons/close.svg
  src/main/webapp/icons/more.svg
  src/main/webapp/icons/open.svg
  src/main/webapp/threadHandler.js
Labels: chat

#34 Chat Threads
  src/main/java/com/google/sps/ChatWebSocket.java
  src/main/java/com/google/sps/DatastoreManager.java
  src/main/webapp/Thread.js
  src/main/webapp/chat.js
  src/main/webapp/chatStyle.css
  src/main/webapp/chatroom.html
  src/main/webapp/icons/clear.svg
  src/main/webapp/icons/close.svg
  src/main/webapp/icons/open.svg
  src/main/webapp/threadHandler.js
Labels: chat

#38 Delete Users and Maps
  src/main/java/com/google/sps/ChatWebSocket.java
  src/main/java/com/google/sps/DatastoreManager.java
  src/main/java/com/google/sps/servlets/AuthServlet.java
  src/main/java/com/google/sps/servlets/RoomServlet.java
  src/main/java/com/google/sps/servlets/ShareServlet.java
  src/main/webapp/ChapMap.js
  src/main/webapp/chat.js
  src/main/webapp/chatroom.html
  src/main/webapp/main.js
  src/main/webapp/mapStyle.css
  src/main/webapp/shareStyle.css
  src/main/webapp/sharing.js
  src/main/webapp/welcome.js
  src/main/webapp/welcomeStyle.css
Labels: general

#40 Marker Menu
  src/main/webapp/ChapMap.js
  src/main/webapp/ColorPicker.js
  src/main/webapp/MarkerTemplate.js
  src/main/webapp/chatroom.html
  src/main/webapp/icons/down.svg
  src/main/webapp/icons/up.svg
  src/main/webapp/mapStyle.css
  src/main/webapp/markerMenu.js
  src/main/webapp/markerMenuStyle.css
Labels: map

#41 Map Search Bar
  src/main/webapp/ChapMap.js
  src/main/webapp/chatroom.html
  src/main/webapp/mapStyle.css
Labels: map

#45 Final Product fixes
  src/main/webapp/ColorPicker.js
  src/main/webapp/chatStyle.css
  src/main/webapp/chatroom.html
  src/main/webapp/index.jsp
  src/main/webapp/markers/blue-dot.png
  src/main/webapp/markers/blue.png
  src/main/webapp/markers/green-dot.png
  src/main/webapp/markers/green.png
  src/main/webapp/markers/lightblue-dot.png
  src/main/webapp/markers/lightblue.png
  src/main/webapp/markers/orange-dot.png
  src/main/webapp/markers/orange.png
  src/main/webapp/markers/pink-dot.png
  src/main/webapp/markers/pink.png
  src/main/webapp/markers/purple-dot.png
  src/main/webapp/markers/purple.png
  src/main/webapp/markers/red-dot.png
  src/main/webapp/markers/red.png
  src/main/webapp/markers/yellow-dot.png
  src/main/webapp/markers/yellow.png
  src/main/webapp/welcome.jpeg
  src/main/webapp/welcome.js
  src/main/webapp/welcomeStyle.css
Labels: enhancement
